<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body> 
    {{!-- <h1>{{title}}</h1> --}}
    {{!-- <p>{{name}}</p> --}}
    <div class="main-content">
        {{>header}}
        <p>This site was created by Varun Kaushik.It uses data from weather stack api and position stack api.</p>
        <img class="portrait" src="/img/me.png" alt="">
    </div>
    {{>footer}}
</body>
</html>